<h1>Active Disciplines</h1>
{% if active_disciplines %}

  Already submitted disciplines:
  <ul>
    {% for discipline in active_disciplines.disciplines.all %}
    <li><a href="{% url 'session' session.id %}">{{ discipline}}</a></li>
    {% endfor %}
  </ul>

{% else %}
  {% for discipline in character.disciplines.all %}
    <input type="checkbox" name="discipline" id="{{ discipline.name }}" value="{{ discipline.id }}" />
    <label for="{{ discipline.name }}">{{ discipline.name }}</label><br />
  {% endfor %}
{% endif %}
