Django==1.7.11
dj-database-url==0.3.0
dj-static==0.0.6
django-bootstrap3==5.1.1
django-simple-history==1.5.3
gunicorn==19.1.1
static3==0.5.1
psycopg2==2.5.4
whitenoise==1.0.6
django-contrib-comments==1.6.2
Markdown==2.6.5
