{% extends "base.html" %}

{% block title %}Treachery Gamemaster{% endblock %}

{% block head %}
  {% load staticfiles %}
  <script src="{% static "gamemaster/js/jquery.dynatable.js" %}"></script>
  <link rel="stylesheet" href="{% static "gamemaster/css/jquery.dynatable.css" %}" />
{% endblock %}

{% block content %}
  <h1>Actions</h1>

  <div id="filter" style="float: left;">
    Name:
    <select id="filter-name" name="name">
      <option></option>
      {% for session in object_list %}
        <option>{{ session.name }}</option>
      {% empty %}
      {% endfor %}
    </select>
  </div>

  <table id="session-table" class="table">
    <thead>
      <tr>
        <th class="dynatable-head">Id</th>
        <th class="dynatable-head">Name</th>
        <th class="dynatable-head">Open</th>
      </tr>
    </thead>
    <tbody>
      {% for session in object_list %}
        <tr>
          <td>{{ session.id }}</td>
          <td>{{ session.name }}</td>
          <td>{{ session.is_open }}</td>
        </tr>
      {% empty %}
      {% endfor %}
    </tbody>
  </table>

  <script>
    $('#session-table').dynatable({
        features: {
          paginate: false,
          recordCount: true,
          sorting: true
        },
        inputs: {
          queries: $('#filter-name')
        }
    });
  </script>

{% endblock %}
