{% extends "base.html" %}

{% block title %}Treachery Gamemaster{% endblock %}

{% block head %}
  {% load staticfiles %}
  <script src="{% static "gamemaster/js/jquery.dynatable.js" %}"></script>
  <script src="{% static "gamemaster/js/clickable.js" %}"></script>
  <link rel="stylesheet" href="{% static "gamemaster/css/jquery.dynatable.css" %}" />
{% endblock %}

{% block content %}
  <h1>Active Disciplines for {{ session_name }}</h1>

  <table id="session-table" class="table">
    <thead>
      <tr>
        <th class="dynatable-head">Character</th>
        <th class="dynatable-head">Disciplines</th>
      </tr>
    </thead>
    <tbody>
      {% for discipline in object_list %}
        <tr>
          <td>{{ discipline.character.name }}</td>
          <td>
            {% for d in discipline.disciplines.all %}
              {{ d.name }}
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <script>

    $('#session-table').dynatable({
      features: {
        paginate:     true,
        recordCount:  true,
        sorting:      true
      },
      inputs: {
      },
      writers: {
        _rowWriter: clickableRowWriter
      },
      readers: {
        _rowReader: clickableRowReader
      }
    });

  </script>

{% endblock %}
