<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}

  <!-- Latest compiled and minified JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <link rel="stylesheet" href="{% static "treachery/css/treachery.css" %}" />

  <title>{% block title %}Treachery Gamemaster{% endblock %}</title>

</head>

<body>
  <div id="content">

    {% if extra_title %}
      <span id="extra-title">
        <b>{{ extra_title }}:</b>
      </span>
      <span id="extra-data">
        {{ extra_data }}
      </span>
    {% endif %}

    <form action="" method="post">{% csrf_token %}
      {{ form.as_p }}
      <input id="submit-button" type="submit" value="Update" />
    </form>

  </div>
</body>
</html>
