{% extends "base.html" %}

{% block title %}Treachery Gamemaster{% endblock %}

{% block head %}
  {% load staticfiles %}
  <script src="{% static "gamemaster/js/jquery.dynatable.js" %}"></script>
  <script src="{% static "gamemaster/js/clickable.js" %}"></script>
  <link rel="stylesheet" href="{% static "gamemaster/css/jquery.dynatable.css" %}" />
{% endblock %}

{% block content %}
  <h1>Feedings for {{ session_name }}</h1>

  <div class="filter-box" style="float: left;">
    Domain:
    <select id="filter-domain" name="domain">
      <option></option>
      {% for domain in domains %}
        <option>{{ domain.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="filter-box" style="float: left;">
    Character:
    <select id="filter-character" name="character">
      <option></option>
      {% for character in characters %}
      <option>{{ character.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="filter-box" style="float: left;">
    Resolved:
    <select id="filter-resolved" name="resolved">
      <option></option>
      <option>Yes</option>
      <option>No</option>
    </select>
  </div>

  <table id="session-table" class="table">
    <thead>
      <tr>
        <th class="dynatable-head">Domain</th>
        <th class="dynatable-head">Character</th>
        <th class="dynatable-head">Points</th>
        <th class="dynatable-head">Discipline</th>
        <th class="dynatable-head">Description</th>
        <th class="dynatable-head">Resolved</th>
      </tr>
    </thead>
    <tbody>
      {% for feeding in object_list %}
        <tr class="clickableRow" data-href="{% url 'feeding' feeding.id %}">
          <td>{{ feeding.domain.name }}</td>
          <td>{{ feeding.character.name }}</td>
          <td>{{ feeding.feeding_points }}</td>
          <td>{{ feeding.discipline.name }}</td>
          <td>{{ feeding.description|truncatechars:25 }}</td>
          <td>{{ feeding.resolved|yesno:"Yes,No" }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <script>

    $('#session-table').dynatable({
      features: {
        paginate:     true,
        recordCount:  true,
        sorting:      true
      },
      inputs: {
        queries: $('#filter-resolved,#filter-domain,#filter-character'),
      },
      writers: {
        _rowWriter: clickableRowWriter
      },
      readers: {
        _rowReader: clickableRowReader
      }
    });

  </script>

{% endblock %}
