{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{% static "treachery/css/treachery.css" %}" />

    <title>{% block title %}Treachery{% endblock %}</title>

    {% block head %}{% endblock %}

  </head>

  <body>
    <div id="content">
      {% block content %}
        THIS IS AN EMPTY TEMPLATE!
      {% endblock %}
    </div>
  </body>
</html>
