{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{% static "treachery/css/style.css" %}" />

    <title>{% block title %}Treachery{% endblock %}</title>

    {% block head %}{% endblock %}

  </head>

  <body>
    <div id="content">
      {% block content %}
        THIS IS AN EMPTY TEMPLATE!
      {% endblock %}
    </div>
  </body>
</html>
