
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>{{ session_name }} <small>Disciplines</small></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-8 col-md-3 text-right">
    <input type="text" class="form-control" id="search" placeholder="Search...">
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <table id="disciplines-table" class="table table-hover">
      <thead>
        <tr>
          <th class="dynatable-head">Character</th>
          <th class="dynatable-head">Disciplines</th>
        </tr>
      </thead>
      <tbody>
        {% for discipline in disciplines %}
        <tr>
          <td>{{ discipline.character.name }}</td>
          <td>{{ discipline.disciplines.all |join:", " }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>

$('#disciplines-table').dynatable({
  features: {
    paginate:     true,
    recordCount:  true,
    sorting:      true,
    search:       false,
    perPageSelect: false,
  },
  inputs: {
  },
  writers: {
    _rowWriter: clickableRowWriter
  },
  readers: {
    _rowReader: clickableRowReader
  },
  dataset: {
    perPageDefault: 25,
  }
});

</script>
