
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>{{ session_name }} <small>Rumors</small></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-8">

    <div class="form-group form-inline" style="float: left; padding-right:10px">
      <span><label>Influence:</label>
        <select class="form-control" id="filter-influence" name="influence">
          <option></option>
          {% for influence in influences %}
          <option>{{ influence.name }}</option>
          {% endfor %}
        </select>
      </span>
    </div>
  </div>

  <div class="col-md-2 text-right">
    <input type="text" class="form-control" id="search" placeholder="Search...">
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <table id="rumors-table" class="table-hover table">
      <thead>
        <tr>
          <th class="dynatable-head">Influence</th>
          <th class="dynatable-head">Type</th>
          <th class="dynatable-head">Recipient</th>
          <th class="dynatable-head">Description</th>
        </tr>
      </thead>
      <tbody>
        {% for rumor in rumors %}
        <tr class="clickableRow" data-href="{% url 'rumor' rumor.id %}">
          <td>{{ rumor.influence.name }}</td>
          <td>{{ rumor.rumor_type }}</td>
          <td>{{ rumor.recipients.all |join:", " }}</td>
          <td>{{ rumor.description|truncatechars:40 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-10 text-right">
    <a class="btn btn-primary" href="{% url 'assign_rumors' session_id %}">Auto assign<a>
  </div>
</div>

<script>

  $('#rumors-table').dynatable({
    features: {
      paginate:     true,
      recordCount:  true,
      sorting:      true,
      search:       false,
      perPageSelect: false,
    },
    inputs: {
      queries: $('#filter-character,#search,#filter-influence'),
    },
    writers: {
      _rowWriter: clickableRowWriter
    },
    readers: {
      _rowReader: clickableRowReader
    },
    dataset: {
      perPageDefault: 25,
    }
  });

</script>
