<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>Sessions</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <table id="session-table" class="table table-hover">
      <thead>
        <tr>
          <th class="dynatable-head">Name</th>
          <th class="dynatable-head">Characters submitted</th>
          <th class="dynatable-head">Actions</th>
          <th class="dynatable-head">Feedings</th>
          <th class="dynatable-head">Active Disciplines</th>
          <th class="dynatable-head">Rumors</th>
          <th class="dynatable-head">Current State</th>
        </tr>
      </thead>
      <tbody>
        {% for session in sessions %}
        <tr class="{% if session.is_open %}success{% else %}{% endif %}">
          <td>{{ session.name }}</td>
          <td><a href="{% url 'characters' session.id %}">{{ session.submitted | length }} / {{ characters | length }}</a></td>
          <td><a href="{% url 'actions' session.id %}">{{ session.actions.all | length }}</a></td>
          <td><a href="{% url 'feedings' session.id %}">{{ session.feedings.all | length }}</a></td>
          <td><a href="{% url 'disciplines' session.id %}">{{ session.active_disciplines.all | length }}</a></td>
          <td><a href="{% url 'rumors' session.id %}">{{ session.rumors.all | length }}</td>
          <td><a href="{% url 'toggle_session' session.id %}">{% if session.is_open %}Open{% else %}Closed{% endif %}</td>
        </tr>
        {% empty %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
$('#session-table').dynatable({
  features: {
    paginate: false,
    recordCount: false,
    sorting: false,
    search: false,
  },
  writers: {
    _rowWriter: clickableRowWriter
  },
  readers: {
    _rowReader: clickableRowReader
  }
});
</script>
